RewriteEngine on

RewriteRule ^([A-Za-z0-9-]+)$ api.php?plate=$1 [NC]
RewriteRule ^ api.php


Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Methods *
Header set Access-Control-Allow-Headers *